<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/map.js"></script>
    <title>CitiGo</title>
    
</head>
<body onload="loadMap();">
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'dataVisuals')">Data Visualization</button>
  <button class="tablinks" onclick="openTab(event, 'about')">About</button>
</div>
<div id='dataVisuals' class="tabcontent">
<div class="map-text">
<center><h3>Find the available bikes and docks at each Citibike station</h3></center>
</div>
<div class="map-container"><div id="map"></div></div>
<div class="graph-container"><div id="graph"></div></div>
<div class="pie-text">
<center><h3>Aggregate of missing bikes/docks from all stations</h3></center>
</div>
<div class="pie-container"><div id="pie"></div></div>
</div>
<div id='about' class="tabcontent">
    <h3> Creator: Anthony Hom </h3>
    <h3>Source: <a href="https://feeds.citibikenyc.com/stations/stations.json">CitiBike API</a></h3>
    <p> CitiGo is a web application that displays the current available bikes and docks from Citibike's API.</p>
    <p> Made with Python, JavaScript, Flask, Plotly library, Mapbox </p>
</div>

<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

</body>
</html>